#root {
    -fx-background-color: rgb(44, 44, 44);
}

#view {
    -fx-effect: innershadow(three-pass-box, rgb(44, 44, 44), 127, 0.7, 0, 0);
}

#label-clock {
    -fx-text-fill        : black;
    -fx-padding          : 4px;
    -fx-font-family      : "Courier New";
    -fx-font-size        : 25px;
    -fx-background-color : rgb(88, 88, 88);
    -fx-background-size  : 40px;
    -fx-background-radius: 12px;
}

#label-music {
    -fx-text-fill        : black;
    -fx-padding          : 4px;
    -fx-font-family      : "Segoe UI Semilight";
    -fx-font-size        : 25px;
    -fx-background-color : rgb(88, 88, 88);
    -fx-background-size  : 40px;
    -fx-background-radius: 12px;
}

#button-ambient {
    -fx-background-color   : rgb(88, 88, 88);
    -fx-background-image   : url('icon/rain.png');
    -fx-background-size    : 24px;
    -fx-background-repeat  : no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius  : 12px;
}

#button-ambient:hover {
    -fx-background-color: rgb(77, 77, 77);
}

#button-music {
    -fx-background-color   : rgb(88, 88, 88);
    -fx-background-image   : url('icon/music.png');
    -fx-background-size    : 20px;
    -fx-background-repeat  : no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius  : 12px;
}

#button-music:hover {
    -fx-background-color: rgb(77, 77, 77);
}

#button-next {
    -fx-background-color   : rgb(88, 88, 88);
    -fx-background-image   : url('icon/next.png');
    -fx-background-size    : 16px;
    -fx-background-repeat  : no-repeat;
    -fx-background-position: 60%;
    -fx-background-radius  : 10px;
}

#button-next:pressed {
    -fx-opacity: 0.5;
}

#button-next:hover {
    -fx-background-color: rgb(77, 77, 77);
}

#button-clock {
    -fx-background-color   : rgb(88, 88, 88);
    -fx-background-image   : url('icon/clock.png');
    -fx-background-size    : 24px;
    -fx-background-repeat  : no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius  : 12px;
}

#button-clock:hover {
    -fx-opacity: 0.8;
}

#button-clock:pressed {
    -fx-opacity: 0.5;
}

#button-task {
    -fx-background-color   : rgb(88, 88, 88);
    -fx-background-image   : url('icon/task.png');
    -fx-background-size    : 24px;
    -fx-background-repeat  : no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius  : 12px;
}

#button-task:hover {
    -fx-opacity: 0.8;
}

#button-task:pressed {
    -fx-opacity: 0.5;
}

#button-confirm {
    -fx-font-family     : "Arial Black";
    -fx-font-size       : 18;
    -fx-text-fill       : white;
    -fx-background-color: rgb(120, 180, 200);
}

#button-confirm:hover {
    -fx-background-color: rgb(140, 190, 210);
}

#button-confirm:pressed {
    -fx-background-color: rgb(100, 180, 210);
}

#my-slider .thumb {
    -fx-background-color: rgb(88, 88, 88);
}

#my-slider .track {
    -fx-background-color: rgb(100, 100, 100);
}

#my-slider:hover .thumb {
    -fx-background-color: rgb(77, 77, 77);
}

#checkbox .box .mark {
    -fx-padding: 10px;
}